{{ template "header" . }}
<table id="sort">
    <thead>
    <tr>
        <th><a href="/machine/new"><i class="ri-edit-box-fill"></i> New</a></th>
        <th>System</th>
        <th>Address</th>
        <th>Domain</th>
        <th>Operator</th>
        <th>Department</th>
        <th>History</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    {{range .Machines}}
    <tr>
        <td><i class="ri-edit-line"></i> <a href="/machine/edit/{{ .Id }}">{{ .Name }}</a></td>
        <td>{{ .System.Name }}</td>
        <td>{{ .Ip }}</td>
        <td>{{ .Fqdn }}</td>
        {{if .Operator.Email}}
            <td><i class="ri-menu-search-line"></i> <a href="/machine/filter/operator/{{ .Operator.Id}}">{{ .Operator.Name }}</a></td>
        {{else}}
            <td>{{ .Operator.Name }}</td>
        {{end}}
        <td>{{ .Operator.Department }}</td>
        <td><i class="ri-refresh-line"></i> <a href="/machine/update/list/{{ .Id }}">Update</a></td>
        <td>
            {{ if .Inactive }}
                inactive
            {{ else }}
                active
            {{ end }}
        </td>
    </tr>
    {{end}}
    </tbody>
</table>
<script>
    new Tablesort(document.getElementById('sort'));
</script>
{{ template "footer" . }}
