{{ template "header" . }}
<table id="sort">
    <thead>
    <tr>
        <th><a href="/machine/new"><i class="ri-edit-box-fill"></i> New</a></th>
        <th>System</th>
        <th>Address</th>
        <th>Domain</th>
        <th>Interval</th>
        <th>Operator</th>
        <th>Department</th>
        <th>History</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    {{range .Machines}}
    <tr>
        <td><i class="ri-edit-line"></i> <a href="/machine/edit/{{ .Id }}">{{ .Name }}</a></td>
        <td>
            {{ if .System.IsEOL }}
                <em
                    data-tooltip="{{ .System.Name}} has reached EOL on {{ .System.EOL }}">
                    <i class="ri-error-warning-line color-danger"></i>
                </em>
            {{ else }}
                <i class="ri-checkbox-circle-line color-success"></i>
            {{ end }}
            {{ .System.Name }}
        </td>
        <td>{{ .Ip }}</td>
        <td>
            {{ if .InternetAccess }}
            <em
                data-tooltip="{{ .Name }} is accessible from the web">
                <i class="ri-global-line has-access"></i>
            </em>

            {{ else }}
            <i class="ri-global-line"></i>
            {{ end }}

            {{ .Fqdn }}
        </td>
        <td>{{ .Interval }}</td>
        {{if .Operator.Email}}
            <td><i class="ri-menu-search-line"></i> <a href="/machine/filter/operator/{{ .Operator.Id}}">{{ .Operator.Name }}</a></td>
        {{else}}
            <td>{{ .Operator.Name }}</td>
        {{end}}
        <td>{{ .Operator.Department }}</td>
        <td><i class="ri-refresh-line"></i> <a href="/machine/update/list/{{ .Id }}">Update</a></td>
        <td>
            {{ if .Inactive }}
                <span role="button" class="secondary">inactive</span>
            {{ else }}
                <span role="button" class="primary">active</span>
            {{ end }}
        </td>
    </tr>
    {{end}}
    </tbody>
</table>
<script>
    new Tablesort(document.getElementById('sort'));
</script>
{{ template "footer" . }}
