{{ template "header" . }}
<div class="container">
    <details>
        <summary>General</summary>
        <form action="/config/save" method="post" id="edit">
            <input type="hidden" name="_method" value="PATCH">
            <div>
                <div>
                    <label for="company">Company</label>
                    <input type="text" name="company" id="company" value="{{.Config.Company}}" required>
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" value="{{.Config.Email}}">
                </div>
                <div>
                    <label for="interval">Interval</label>
                    <input type="text" name="interval" id="interval" value="{{.Config.Interval}}">
                </div>
            </div>
        </form>
        <div>
            <button type="submit" form="edit" class="btn btn-green">Save</button>
        </div>
    </details>

    <details>
        <summary>Export</summary>
        <p>Export the database as CSV file.</p>
        <a href="/api/csv/export">Download</a>
    </details>

</div>
{{ template "footer" . }}
