{{ template "header" . }}
<div class="container">
        <form action="/config/save" method="post" id="edit">
            <input type="hidden" name="_method" value="PATCH">
            <div>
                <div>
                    <h3>General</h3>
                    <div>
                        <label for="general.company">Company</label>
                        <input type="text" name="general.company" id="general.company" value="{{.Config.General.Company}}" required>
                    </div>
                    <div>
                        <label for="general.email">Email</label>
                        <input type="text" name="general.email" id="general.email" value="{{.Config.General.Email}}">
                    </div>
                    <div>
                        <label for="general.interval">Interval</label>
                        <input type="text" name="general.interval" id="general.interval" value="{{.Config.General.Interval}}">
                    </div>
                </div>
                <div>
                    <h3>Mailserver</h3>
                    <div>
                        <label for="smtp.sender">Absender</label>
                        <input type="text" name="smtp.sender" id="smtp.sender" value="{{.Config.Smtp.Sender}}" required>
                    </div>
                    <div>
                        <label for="smtp.username">Benutzername</label>
                        <input type="text" name="smtp.username" id="smtp.username" value="{{.Config.Smtp.Username}}" required>
                    </div>
                    <div>
                        <label for="smtp.host">Adresse</label>
                        <input type="text" name="smtp.host" id="smtp.host" value="{{.Config.Smtp.Host}}" required>
                    </div>
                    <div>
                        <label for="smtp.port">Port</label>
                        <input type="text" name="smtp.port" id="smtp.port" value="{{.Config.Smtp.Port}}" required>
                    </div>
                    <div>
                        <label for="smtp.password">Passwort</label>
                        <input type="password" name="smtp.password" id="smtp.password" value="{{ .Config.Smtp.Password }}" required>
                    </div>
                    <div>
                </div>
                    <button type="submit" form="edit" class="btn btn-green">Save</button>
                </div>
            </div>
        </form>
    <div>
        <h3>Export</h3>
        <p>Export the database as CSV file.</p>
        <button type="button" href="/api/csv/export" class="btn btn-green">Download</button>
    </div>
</div>
{{ template "footer" . }}
