@font-face{
    font-family: 'Signika';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('woff/signika-latin-300-normal.woff2') format('woff2'),
         url('woff/signika-latin-300-normal.woff') format('woff'),
         url('ttf/signika-latin-300-normal.ttf') format('truetype');
}

@font-face{
    font-family: 'Signika';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('woff/signika-latin-400-normal.woff2') format('woff2'),
    url('woff/signika-latin-400-normal.woff') format('woff'),
    url('ttf/signika-latin-400-normal.ttf') format('truetype');
}

@font-face{
    font-family: 'Signika';
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    src: url('woff/signika-latin-500-normal.woff2') format('woff2'),
    url('woff/signika-latin-500-normal.woff') format('woff'),
    url('ttf/signika-latin-500-normal.ttf') format('truetype');
}

@font-face{
    font-family: 'Signika';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('woff/signika-latin-600-normal.woff2') format('woff2'),
    url('woff/signika-latin-600-normal.woff') format('woff'),
    url('ttf/signika-latin-600-normal.ttf') format('truetype');
}

@font-face{
    font-family: 'Signika';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('woff/signika-latin-700-normal.woff2') format('woff2'),
    url('woff/signika-latin-700-normal.woff') format('woff'),
    url('ttf/signika-latin-700-normal.ttf') format('truetype');
}
