{{ template "header" . }}
<table id="sort">
    <thead>
    <tr>
        <th><a href="/operator/new"><i class="ri-edit-box-fill"></i> New</a></th>
        <th>Department</th>
        <th>Email</th>
        <th>Machines</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    {{range .Operators}}
    <tr>
        <td><i class="ri-edit-line"></i> <a href="/operator/edit/{{.Id}}">{{.Name}}</a></td>
        <td>{{.Department}}</td>
        <td><i class="ri-mail-line"></i> <a href="mailto:{{ .Email }}">{{ .Email }}</a></td>
        <td>
            <a href="/machines/filter/operator/{{ .Id }}">
                {{ if eq .MachineCount 0 }}
                    <span role="button" class="secondary">
                        {{ .MachineCount }}
                    </span>
                {{ else }}
                    <span role="button" class="primary">
                        {{ .MachineCount }}
                    </span>
                {{ end }}
            </a>
        </td>
        <td>
            {{ if .Inactive }}
                <span role="button" class="secondary">inactive</span>
            {{ else }}
                <span role="button" class="primary">active</span>
            {{ end }}
        </td>
    </tr>
    {{end}}
    </tbody>
</table>
<script>
    new Tablesort(document.getElementById('sort'));
</script>
{{ template "footer" . }}