{{ template "header" . }}
<table id="sort">
    <thead>
    <tr>
        <th><a href="/system/new"><i class="ri-edit-box-fill"></i> New</a></th>
        <th>Machines</th>
        <th>LTS</th>
        <th>EOL</th>
    </tr>
    </thead>
    <tbody>
    {{range .Systems}}
    <tr>
        <td><i class="ri-edit-line"></i> <a href="/system/edit/{{.Id}}">{{.Name}}</a></td>
        <td>
            <a href="/machine/filter/system/{{ .Id }}">
                {{ if eq .MachineCount 0 }}
                    <span role="button" class="secondary">
                        {{ .MachineCount }}
                    </span>
                {{ else }}
                    <span role="button" class="primary">
                        {{ .MachineCount }}
                    </span>
                {{ end }}
            </a>
        </td>
        <td>
            {{ if .LTS }}
            <span role="button" class="primary">True</span>
            {{ else }}
            <span role="button" class="secondary">False</span>
            {{ end }}
        </td>
        <td>{{ .EOL }}</td>
    </tr>
    {{end}}
    </tbody>
</table>
<script>
    new Tablesort(document.getElementById('sort'));
</script>
{{ template "footer" . }}
